allow init adsprpcd_file:dir { create rmdir };
allow init bt_firmware_file:dir { rmdir };
allow init firmware_file:dir { rmdir };
allow init fsg_file:dir { mounton rmdir };
allow init sysfs_graphics:file rw_file_perms;
#allow init vendor_file:dir { create rmdir };

allow init vendor_overlay_file:file mounton;
allow init vendor_configs_file:file mounton;
allow init vendor_file:file mounton;
allow init sysfs_homebutton:file setattr;
# allow init sysfs_input:file setattr;
allow init sysfs_dm:file setattr;
allow init self:capability sys_module;
allow init vendor_configs_file:dir mounton;
allow init vendor_file:system module_load;

